body {
	overflow-x: hidden;
}

.footer {
	background-color: white;
	border-top: 1px #f0f0f0 solid;
	position: fixed;
	width: 100%;
	height: 25%;
	padding: 2% 0 0 5%;
	bottom: 0;
	z-index: 1;
	line-height: 1;
}

div.footer a {
	color: inherit;
	text-decoration: none;
}

.main {
	width: 100%;
	height: 75%;
	text-align: center;
	overflow: hidden;
}

.title {
	position: absolute;
	width: inherit;
	top: 30%;
	color: white;
	z-index: 1;
}

.navbar {
	position: absolute;
	float: right;
	top: 40%;
	right: 5%;
}

.navbar ul {
	list-style-type: none;
    font-size: 17;
}

.navbar ul li {
    float: left;
    padding-left: 10;
}

.navbar ul li a {
    display: block;    
    color: #512C1D;
}

.sub {
	color: #512C1D;	
	padding: 5% 10% 0 10%;
}

.last {
	padding-bottom: 15%;
}

#tab1,#tab2,#tab3 {
	display:none;
}

.page-title {
	font-family: 'Sacramento', cursive;
	font-size: 90;
}

.page-desc{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 50;
}

.cont-title {
	font-family: 'Sacramento', cursive;
	font-size: 45;
}

.heading {
	font-family: 'Domine', serif;
	font-size: 36;
}

.content {
	font-family: 'Enriqueta', serif;
	font-size: 17;
}

.cat a {
	color: black;
}

.cat a:hover {
	text-decoration: none;
	color: black;
}

#cat0 {
	background-color: #f4a460;
}
