body {
	overflow-x: hidden;
}

.footer {
	background-color: white;
	border-top: 1px #f0f0f0 solid;
	position: fixed;
	width: 100%;
	height: 25%;
	padding: 2% 0 0 5%;
	bottom: 0;
	z-index: 1;
	line-height: 1;
}

.main {
	width: 100%;
	height: 75%;
	overflow: hidden;
}

.sub {
	height: 1000;
	padding: 100;
}

.sub img {
}

.title {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	top: 30%;
	color: white;
	z-index: 1;
}

.navbar {
	position: absolute;
	float: right;
	top: 40%;
	right: 5%;
}

.navbar ul {
	list-style-type: none;
    font-size: 17;
}

.navbar ul li {
    float: left;
    padding-left: 10;
}

.navbar ul li a {
    display: block;    
    color: #512C1D;
    text-decoration: none;
}
